<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto con OnlyFlans</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <style>
    .hidden {
        display: none;
    }
    .floating-form {
      background-color: #ffffff;
      padding: 50px;
      border-radius: 15px;
      box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    }
    .floating-form .form-control {
      border-radius: 10px;
    }
    .floating-form label {
      font-weight: 500;
    }
    .floating-form .btn-primary {
      border-radius: 8px;
      padding: 12px 30px;
      font-weight: 500;
      background-color: #007bff;
      border: none;
    }
    .floating-form .btn-primary:hover {
      background-color: #0056b3;
    }
    .form-title {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .form-subtitle {
      text-align: center;
      font-size: 18px;
      margin-bottom: 30px;
      color: #6c757d;
    }
  </style>
</head>
<body>
    {% load static %}

    <header>
        <div class="container text-center">
            <a class="navbar-brand mb-0" href="#">
                <img src="{% static '/img/logo.png' %}" alt=""
                    style="width: 300px; height: auto; margin-top: 30px; margin-bottom: 20px;">
            </a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/acerca/">Acerca</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/bienvenido/">Bienvenido</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/contacto/">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    
    <form method="post">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="post" class="floating-form">
                        {% csrf_token %}
                        <div class="form-title">Formulario de Contacto</div>
                        <div class="form-subtitle">¡Contáctanos, estaremos encantados de ayudarte!</div>
                        {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert" id="alertMessage">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% endif %}
                        <div class="form-group mb-4">
                            <label for="customer_email">Correo</label>
                            <input type="text" class="form-control" id="customer_email" name="customer_email" placeholder="Ingrese su Correo Electrónico" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="customer_name">Nombre</label>
                            <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="Ingrese su Nombre" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="message">Mensaje</label>
                            <textarea class="form-control" id="message" name="message" rows="4" placeholder="Ingrese su Mensaje" required></textarea>
                        </div>
                        <button type="submit" id="boton" class="btn btn-primary btn-block">Enviar</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </form>


    
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <p class="text-muted small mb-4 mb-lg-0">© Desarrollado por Elvis Andrade para Desafío
                Latam.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        // Ocultar el mensaje después de 3 segundos
        setTimeout(function() {
            document.getElementById('alertMessage').style.display = 'none';
        }, 3000);
    </script>

</body>
</html>
